name: CI

on:
  - push
  - pull_request

jobs:
  build-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - phpunit: 9.5.26
            php: 8.2
          - phpunit: 9.5.26
            php: 8.3
          - phpunit: 10.5.38
            php: 8.2
          - phpunit: 10.5.38
            php: 8.3
          - phpunit: 11.4.3
            php: 8.2
            with:
              test_suffix: "Test.php"
          - phpunit: 11.4.3
            php: 8.3
            with:
              test_suffix: "Test.php"

    steps:
      - uses: actions/checkout@v3

      - uses: php-actions/composer@v6.1.1
        with:
          php_version: ${{ matrix.php }}

      - name: PHPUnit Tests
        uses: php-actions/phpunit@v3.0.2
        with:
          php_version: ${{ matrix.php }}
          version: ${{ matrix.phpunit }}
